* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

body {
    scroll-behavior: smooth;
}

.logo-wrapper {
    position: absolute;
    overflow-x: hidden;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100dvh;
    pointer-events: none;
}

.krv {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 70dvh;
    /* background-color: aqua; */
    font-size: 6rem;
    line-height: 5rem;
    text-align: center;
    
    padding-bottom: 0;
    z-index: 20;    
    transition: all .2s ease-out ;

    /* pointer-events: none; */
    /* transform: scale(50%); */
}


.krv-changed {
    /* background-color: brown; */
    display: flex;
    justify-content: left;
    align-items: start;
    text-align: left;
    padding-bottom: 70dvh;
    font-size: 1rem;
    /* line-height: 1rem; */
    /* width: auto; */
}

.new-krv-divs {
    font-size: 2rem;
    line-height: normal;
    /* height: 80px; */
    top: 20px;
    left: 20px;
    /* width: 100%; */
    /* height: 160px; */
    position: relative;
    /* display: flex; */

    transform: rotate(0deg) translate3d(0, 0, 0);

    /* background-color: aqua; */

    /* animation: krv-divs-up 1.4s ease-out forwards ; */
    /* border: 1px solid red; */
    transform-origin: center;
    display: flex;

}

@keyframes krv-divs-up {
    from {
        font-size: 10rem;
        top: 50%;
        left: 40%;
        transform: rotate(360deg) translate3d(-80px, 50px, 0);
    }
}

.name1-char1 {
    animation: name1-char1-up 1s ease-out;
}

@keyframes name1-char1-up {
    from {
        font-size: 10rem;
        top: 50%;
        left: 50%;
        transform: rotate(120deg) translate3d(200%, -50px, 0);
        
    }
}

.name2-char1 {
    animation: name2-char1-up 1.2s ease-out;
}

@keyframes name2-char1-up {
    from {
        font-size: 10rem;
        width: auto;
        left: 50%;
        transform: rotate(-180deg) translate3d(150px, -200px, 0);
        transform-origin: center;
    }
}

.name3-char1 {
    margin-left: -.15rem;

    animation: name3-char1-up 1.2s ease-out;
}

@keyframes name3-char1-up {
    from {
        font-size: 10rem;
        top: 50%;
        left: 40%;
        transform: rotate(360deg) translate3d(-80px, 50px, 0);
    }
}

.krv__dott1 {
    margin-left: -.1rem;
}

.krv__dott2 {
    margin-left: -.15rem;
    /* position: relative; */
    animation: krv__dott1-up 1.5s ease-out;
    /* background-color: aqua; */
}

@keyframes krv__dott1-up {
    from {
        font-size: 10rem;
        top: -300%;
        left: 50%;
        /* transform: rotate(0deg) translate3d(-200, 200, 0); */
        
    }
}

    
.restof-krv-divs {
    font-size: 2rem;
    line-height: normal;
    top: -5px;
    right: 0px;

    position: absolute;

    transform: rotate(0deg);

    animation-name: restof-krv-divs-up;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    /* animation: restof-krv-divs-up 5s ease-out forwards ; */
    /* transform-origin: center; */

}

@keyframes restof-krv-divs-up {
    from {
        font-size: 10rem;
        top: 50%;
        right: 50%;
        transform: rotate(0deg);
    }
}

.title-border-wrapper {
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: flex-end;
    justify-content: start;
    z-index: 100;
    padding-left: 20px;
    /* pointer-events: none; */
}

.title-border {
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: black;
    transition: width .75s ease-out;
    /* display: none; */

}

/* .title-border-show {
    height: 1px;
} */



.main-wrapper {
    display: block;
    position: static;
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 80px;
}

.home {
    display: flex;
    position: relative;
    height: 70dvh;
    scroll-snap-align: end;
    scroll-snap-stop: always;
    /* background-color: darkcyan; */
}



.title {
    display: flex;
    /* justify-content: stretch; */
    align-items: flex-end;
    width: 100%;
    height: 80px;

    /* scroll-snap-align: start; */
    background-color: rgb(255, 255, 255);
    
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    
    padding: 30px 20px 8px 20px;
    top: 0px;
    z-index: 10;
    opacity: 1;
}

.title-span {
    font-family: 'Red Hat Mono', monospace;
    position: absolute;
    white-space: nowrap;

    font-size: .6rem;
    left: 50%;
    transform: translate(-50%, 0) scale(300%);
    transition: transform .6s, left .6s ease-out;
    transform-origin: center;
    
    /* background-color: aqua; */
}

.title-span-stuck {
    left: 20px;
    /* font-size: 1.5rem; */
    transform: translate(0, 0) scale(100%);
    transition: transform 1.2s, left 1.6s, font-size .5s ease-in;
    /* background-color: aqua; */

}




section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative;
    width: 100%;
    height: calc(100dvh - 80px);
    scroll-snap-align: start;

    color: black;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    /* grid-template-rows: 100dvh; */
    /* justify-content: left; */
    /* background-color: bisque;
    border: 1px saddlebrown solid; */
}

.sec1 {
    scroll-snap-stop: always;

}

/* .sec1 div:nth-child(odd) {
    background-color: cornflowerblue;
} */

/* section:nth-child(even){
    background-color: rgb(215, 215, 215);
}

section:nth-child(odd) {
    background-color: rgb(96, 96, 96);
} */

.skills {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    /* background-color: coral; */
    text-align: center;
    padding: 0px 20px;
}

/* .skills--show {
    opacity: 1;
    width: 100%;
}

.skills--show--2 {
    transition-delay: 1s;
} */

.skills .website {
    margin-left: 26px;
}


.skills span {
    display: block;
    position: relative;
    font-size: 5rem;
    margin-bottom: -18px;
    /* text-align: center; */
    /* background-color: cornflowerblue; */
    /* mix-blend-mode: multiply; */
}

.skills p {
    display: block;
    position: relative;
    /* align-items: flex-end; */
    font-family: 'Red Hat Mono', monospace;
    /* background-color: rgb(130, 128, 128); */
    /* mix-blend-mode: screen; */
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: -30px;
}

.skills .skills__designer {
    text-align: right;
    right: 110px;
}

.skills .skills__a {
    text-align: right;
    right: 275px;
}

.skills .skills__turned {
    text-align: right;
    right: 70px;
}

.skills .skills__developer {
    text-align: right;
}

.skills .skills__andor {
    left: 92px;
}

.skills .skills__gone {
    left: 170px;
}

.skills .skills__coder {
    left: 140px;
}

.skills .skills__dad {
left: 200px;}










