:root {
    --headerHeight: 100px;
    --headerLeft: 16px;
    --headerTop: 32px;
    --bodyPadding: 16px;
    --org-padding: 16px;
    --blobBGColor: rgb(149, 0, 255);
    --darkGreen: rgb(3, 53, 47);
    --lightGreen: rgb(23, 148, 134);
    --sec2TextSize: 3rem;
    --sec2TextLineHeight: calc(var(--sec2TextSize) * 1);
    --welcomeTextSize: 5.5rem;
    --welcomeTextLineHeight: calc(var(--welcomeTextSize) * 0.8);
    --titleFontSize: 1.5rem;
    --titleLineHeight: calc(var(--titleFontSize) * 0.65);
    --titleLineHeightSmall: calc(var(--titleFontSize) * 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

body {
    scroll-behavior: smooth;
    /* backdrop-filter: blur(20px); */
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    color: pink;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    /* background-color: rgb(225, 126, 191); */

    /* filter: hue-rotate(-175deg); */
    /* background-color: orange; */
    /* overflow-y: scroll; */
}

button {
    all: unset;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

h1,
h2 {
    font-weight: 900;
}

/* MUSIC */

audio {
    position: fixed;
    bottom: var(--bodyPadding);
    left: var(--bodyPadding);
    /* transform: translate(0, -50%); */
    /* width: 200px; */
    height: 40px;
    z-index: 1;
}

.count-down-wrapper {
    position: fixed;
    right: 25%;
    top: 50%;
    z-index: 100;
    /* background-color: aqua; */
}

.count-down-span {
    z-index: 100;
    color: white;
    font-size: var(--sec2TextSize);
}


.fullscreen-bg {
    position: fixed;
    inset: 0;
    height: 100%;
    /* full physical screen height */
    width: 100%;
    /* background: linear-gradient(160deg, #0a0f1e, #1c2950); */
    /* z-index: -1; */

    /* Respect safe areas on notched iPhones */
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.color-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--darkGreen);
    /* background-color: pink; */
    filter: brightness(65%);

    /* filter: saturate(80%); */
    /* filter: contrast(50); */
    transition: background-color 2s linear;
    opacity: .85;
}

.color-overlay.dim {
    background-color: pink;
    filter: saturate(0);
}

.color-overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/img/IMG_2015_R3.jpg);
    background-position: center;
    background-size: cover;
    filter: hue-rotate(313deg);
    transform: scaleY(2) scaleX(1) skew(0);
    animation: zoomBg 50s ease-in-out infinite;
}

@keyframes zoomBg {
    0% {
        transform: scaleY(2) scaleX(1) skew(0);
    }

    /* 25%  { transform: skew(15deg);} */
    25% {
        transform: scaleY(1.2) scaleX(2) skew(-10deg);
    }

    50% {
        transform: scaleY(1) scaleX(1) skew(0deg);
    }

    75% {
        transform: scaleY(1.2) scaleX(2) skew(15deg);
    }

    100% {
        transform: scaleY(2) scaleX(1) skew(0);
    }
}

.contrast {
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(1.2);
    filter: contrast(75) saturate(0);
    background-color: rgb(0, 0, 0);
    transition: transform 2s linear forwards;
    z-index: -100;
}

canvas {
    display: block;
    z-index: -20;
    filter: blur(15px);
    /* -webkit-filter: url(#noise);
    filter: url(#noise) blur(15px); */
}

.title-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    position: absolute;
    padding: var(--org-padding);
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;


    /* background-color: orange; */
}

.title-span-container {
    display: flex;
    flex-direction: column;
    width: auto;
    transform: scale(1);
    transition: transform 1s ease;
    transform-origin: top right;
    z-index: 100;
    font-weight: 900;
    /* background-color: blue; */
}

.title-span-container.title-span-container--small {
    transform: scale(.5);
}

.title-span {
    font-size: var(--titleFontSize);
    line-height: var(--titleLineHeight);
    /* height: var(--titleLineHeight); */
    text-align: center;
    color: pink;
    /* background-color: orange; */
}


.title-span:nth-of-type(1) {
    /* color: orange; */
    align-self: end;
    /* text-indent: 2rem; */
}

.title-span:nth-of-type(2) {
    /* color: orange; */
    text-indent: 0rem;
    /* margin-bottom: .5rem; */
}


.title-span:nth-of-type(3) {
    /* color: orange; */
    text-indent: 0rem;
    align-self: end;
    font-size: calc(var(--titleFontSize) * 0.5);
    line-height: var(--titleLineHeightSmall);
    /* background-color: teal; */
}

.title-wrapper__circle {
    position: absolute;
    width: 250px;
    height: 300px;
    transform: rotate(0deg) translate(40%, -40%);
    border-radius: 50%;
    /* border: 1px solid white; */
    background-color: aqua;
    animation: rotate-circle 20s infinite;
    transform-origin: top right;
}

@keyframes rotate-circle {
    to {
        transform: rotate(360deg) translate(40%, -40%);
    }
}




/* WELCOME TEXT */

.welcome-text-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    pointer-events: none;
    /* filter: saturate(75%); */
    /* background-color: rgba(85, 163, 162, 1); */
    /* text-align: right; */
    z-index: 100;
    perspective: 500px;
    /* mix-blend-mode: hard-light; */
    mix-blend-mode: hard-light;
    z-index: 200;
    /* transform: translate3d(10px 20px 45deg); */
}

.welcome-text__text-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    perspective: 500px;
}

.welcome-text__text-container {
    display: flex;
    flex-direction: column;
    z-index: 20;
    transition: all .2s ease-out;
    gap: 24px;
    perspective: 500px;
    transform-style: preserve-3d;
}

.welcome-text__text-container span {
    font-size: var(--welcomeTextSize);
    line-height: var(--welcomeTextLineHeight);
    text-align: left;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.welcome-text__text-container span.glitch-word {
    -webkit-filter: url(#welcomeFilter1);
    filter: url(#welcomeFilter1);
}

.welcome-text__text-container span.glitch-word2 {
    -webkit-filter: url(#welcomeFilter2);
    filter: url(#welcomeFilter2);
}


.word {
    display: flex;
    padding-left: 0.8px;
    /* font-kerning: -2px; */
    /* gap: 10px; */
}

.letter {
    display: inline;
    width: fit-content;
    margin-right: -.5px;
    /* transform-origin: top right; */
    transition: color 2s ease-out;
    transition-delay: 1s;
}

.letter.rotate {
    animation: slow-move 15s linear infinite;
    /* background-color: orange; */
    /* color: transparent; */

}


.letter.dim-letter {
    color: transparent;
}

@keyframes slow-move {
    to {
        rotate: 360deg;
        /* scale: 2; */
    }
}


.main-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    /* z-index: 100; */
    /* mix-blend-mode: hard-light; */
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

/* .sec2 {
    cursor: pointer;
} */

.sec2__text-wrapper {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--sec2TextSize);
    transform: scale(0.1);
    transition: transform .35s cubic-bezier(.65, .27, .67, 1.7);
    text-align: center;
    color: white;
    z-index: 100;
    /* background-color: antiquewhite; */
}



.sec2__text-wrapper.sec2__text-wrapper--open {
    transform: scale(1);
    text-shadow: 2px 2px 0px var(--blobBGColor);
    text-shadow: 2px 2px 0px var(--darkGreen);
}


.sec2__text-span {
    /* width: fit-content; */
    display: block;
    position: relative;
    font-size: var(--sec2TextSize);
    line-height: var(--sec2TextLineHeight);
    transform-origin: top left;
    /* background-color: aqua; */
}

.sec2__text-para {
    display: block;
    position: relative;
    font-size: calc(var(--sec2TextSize) * 0.35);
    margin-top: calc(var(--sec2TextSize) * .25);
}

.sec2__text-para:nth-of-type(2) {
    font-size: calc(var(--sec2TextSize) * 0.5);
    margin-top: calc(var(--sec2TextSize) * .5);
}

.sec2__text-para,
.sec2__text-span {
    transition: color 1s ease-out,
        text-shadow 1s ease-out;
}

.sec2__text-para button {
    /* transform: rotate(0deg); */
    transform-origin: center left;
    animation: pointerAnim 9s linear infinite;
}

@keyframes pointerAnim {
    0% {
        transform: rotate(0deg);
    }

    28% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-10deg);
    }

    32% {
        transform: rotate(2deg);
    }

    35% {
        transform: rotate(-8deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.sec2__text-para button:hover {
    animation-play-state: paused;
    /* pause the button animation */
}

.sec2__text-para button span:last-child {
    /* color: white; */
    text-decoration: underline;
    text-decoration-thickness: calc(var(--sec2TextSize) * 0.05);
    text-underline-offset: calc(var(--sec2TextSize) * 0.1);
}

.sec2__text-para button:hover span:last-child {
    transition: color .5s ease-out;

    color: pink;
    /* only last span becomes pink */
}

.sec2__text-para button span {
    padding-left: calc(var(--sec2TextSize) * 0.05);
}


.sec2__text-para.dim,
.sec2__text-span.dim,
.sec2__text-para.dim button {
    color: rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
    animation: none;
}

.sec2__text-span:nth-of-type(2) {
    -webkit-filter: url(#noice);
    filter: url(#noise);
}

/* CONTACT FORM */

.contact-form-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: end;
    z-index: 110;
    transform: translateX(100%);
    transition: transform .25s ease-in .5s;
    pointer-events: none;

}

.contact-form-wrapper.contact-form-wrapper--open {
    transform: translateX(0%);
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    height: calc(100% - 140px);
    /* height: 100%; */
    padding: var(--bodyPadding);
    border-top-left-radius: calc(var(--bodyPadding) * 2);
    /* padding-top: calc(var(--bodyPadding) * 8); */

    background-color: rgb(from var(--darkGreen) r g b / 0.75);
    pointer-events: auto;
}

#contactForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 40px;
    /* background-color: antiquewhite; */
}

#contactForm .hidden {
    display: none;
}

#contactForm label {
    display: flex;
    flex-direction: column;
    flex: 0;
    /* each label grows equally */
    /* font-size: 48px; */
    /* color: white; */
    /* background-color: salmon; */
    margin-bottom: var(--bodyPadding);
    /* optional spacing */
}

#contactForm label:last-of-type {
    flex: 1;
    min-height: 200px;
    /* background-color: orange; */
}

#contactForm label .contact-form-arrow {
    /* color: orange; */
    font-size: 50%;
}



#contactForm input,
#contactForm textarea {
    all: unset;
    flex: 1;
    /* input takes remaining space inside label */
    width: auto;
    font-size: 36px;
    line-height: 36px;
    background-color: none;
    background: none;

    background: rgba(255, 255, 255, .75);
    height: 100%;
    border-radius: calc(var(--bodyPadding) * 1);
    padding: 4px 8px;
}



#contactForm input,
#contactForm input::placeholder,
#contactForm textarea,
#contactForm textarea::placeholder {
    color: teal;
}

#contactForm input:focus,
#contactForm textarea:focus,
#contactForm input:valid,
#contactForm textarea:valid {
    outline: none;
    box-shadow: none;
    color: var(--darkGreen);

}

#contactForm .contact-form__btn-wrapper {
    /* flex: 0 1 20%; */
    display: flex;
    /* align-items: end; */
    justify-content: space-between;
    gap: calc(var(--bodyPadding) * 2);
    /* padding: 0 48px; */
}

.contact-form__btn-wrapper button {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    aspect-ratio: 2/1;
    cursor: pointer;
}

#closeFormBtn span:first-child {
    transform: translateX(-24px);
}

#submitFormBtn span:first-child {
    transform: translateX(24px);
}

.contact-form__btn-wrapper button:hover span:first-child {
    animation: pulse 2s infinite ease-out;
}

.contact-form__btn-wrapper button span:nth-child(2) {
    transition: all .5s ease-out;
}

.contact-form__btn-wrapper button:hover span:nth-child(2) {
    color: teal;
    text-shadow: -2px -2px 0px pink,
        2px -2px 0px pink,
        -2px 2px 0px pink,
        2px 2px 0px pink;
    /* text-outline: pink 1px solid; */
}

@keyframes pulse {
    50% {
        transform: translateX(0);
    }
}

.contact-form-wrapper button span:first-child {
    font-weight: 300;
    line-height: 50%;
}

#contactForm .form-response {
    margin-top: 1rem;
    font-weight: bold;
    /* color: white; */
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 8px;
}

#formResponse {
    font-size: 2rem;
    text-align: center;
    color: pink;
    text-shadow: 2px 2px 2px var(--darkGreen);
    position: absolute;
    padding: 0 20%;
    /* color: var(--blobBGColor); */
    /* top: 0; */
    /* background-color: green; */
    align-self: center;
    transform: translateY(0px);
    transition: transform .2s ease-out;
}



/* SVGS */


svg {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: aqua; */
    z-index: -100;
}

@media (min-width: 600px) {
    :root {
        --titleFontSize: 2.5rem;
        --sec2TextSize: 5rem;
        --welcomeTextSize: 10rem;
    }

}

@media (min-width: 1000px) {
    :root {
        --titleFontSize: 3rem;
        --sec2TextSize: 7rem;
        --welcomeTextSize: 12rem;
    }

    .color-overlay::before {
        /* rotate: 90deg; */
        background-image: url(/img/IMG_2015_R3-rotate.jpg);
        /* transform: scaleY(2) scaleX(1) skew(0); */
    }

    @keyframes zoomBg {
        0% {
            transform: scaleY(1) scaleX(2) skew(0);
        }

        /* 25%  { transform: skew(15deg);} */
        25% {
            transform: scaleY(2) scaleX(1.2) skew(-10deg);
        }

        50% {
            transform: scaleY(1) scaleX(1) skew(0deg);
        }

        75% {
            transform: scaleY(1) scaleX(1.2) skew(15deg);
        }

        100% {
            transform: scaleY(1) scaleX(2) skew(0);
        }
    }
}